<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Pembelian Buah</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        
        <div>NOTA PEMBAYARAN </div>
        <hr><!-- comment -->
        <tr>
            <th>Nama buah     : </th><td th:text="${name}"></td></br>
            <th>Jumlah buah   : </th><td th:text="${jumlah}"></td></br>
            <th>Harga buah    : Rp </th><td th:text="${harga}"></td></br>
            <th>Diskon          : </th><td th:text="${diskon}"></td></br>
        <hr><th>Total           : Rp </th><td th:text="${total}"></td></br>
            
        </tr>
    </body>
</html>
